body{
    font-family: calibri;
    text-align: center;
    background-color: rgb(77, 77, 77);
}

h1{
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

#generateButton{
    font-size: 3em;
    font-family: calibri;
    padding: 5px 25px;
    border-radius: 5px;
}

#generateButton:hover{
    background-color: lightgrey;
    transform: scale(1.05);
}

.myLabels{
    color: white;
    font-size: 3em;
    font-family: calibri;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}